<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benny's Clicker</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <h1>Benny's Clicker</h1>
        <ul class="navbar-links">
            <li class="navbar-item home"><a class="navbar-link" href="/">Home</a></li>
            <li class="navbar-item leaderboard"><a class="navbar-link" id="leaderboard" href="/leaderboard">Leaderboard</a></li>
        </ul>
    </header>

        <!-- <div class="right-aligned">
            <h1 class="right-text"><a href="#">Save</a></h1>
            <h1 class="right-text"><a href="#">Leaderboard</a></h1>
        </div> -->
    </header>

    <main class="content">
        {{{body}}}
    </main>
</body>
</html>
