<div class="clicker">
    <div class="wood">
        <p id="woodTitle">Wood: 0</p>
        <p id="woodPer">Wood Per Second: 0</p>
        <img id="woodButton" src="/benny.png">
    </div>

    <div class="button-store">
        <div class="buttons" id="axe">
            <img class="button-image" src="/axe.png">
            <p id="axeTitle">Buy Axe - 25</p>
            <p id="axeCounter">Axes: </p>
        </div>
        <div class="buttons" id="autoAxe">
            <img class="button-image" src="/axe.png">
            <p id="autoAxeTitle">Buy Auto Axe - 50</p>
            <p id="autoAxeCounter">Auto Axes: </p>
        </div>
        <div class="buttons" id="chainsaw">
            <img class="button-image" src="/chainsaw.png">
            <p id="chainsawTitle">Buy Chainsaw - 75</p>
            <p id="chainsawCounter">Chainsaws: </p>
        </div>
        <div class="buttons" id="autoChainsaw">
            <img class="button-image" src="/chainsaw.png">
            <p id="autoChainsawTitle">Buy Auto Chainsaw - 150</p>
            <p id="autoChainsawCounter">Auto Chainsaws: </p>
        </div>
        <div class="buttons" id="flameThrower">
            <img class="button-image" src="/flame.png">
            <p id="flameThrowerTitle">Buy Flame Thrower - 125</p>
            <p id="flameThrowerCounter">Flame throwers: </p>
        </div>
        <div class="buttons" id="autoFlameThrower">
            <img class="button-image" src="/flame.png">
            <p id="autoFlameThrowerTitle">Buy Auto Flame Thrower - 375</p>
            <p id="autoFlameThrowerCounter">Auto Flame throwers: </p>
        </div>
    </div>

</div>
<div id="store">
    <h1 class="store-title">Store</h1>
    <div class="posts">
        {{#each postData}}
            {{> post price=price source=photoURL itemDescription=description}}
        {{/each}}
    </div>
</div>
