/* Disable scrolling */
body {
    height: 100%;
    overflow: hidden
}

/* General rules */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header */
header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

header h1, header li {
    font-size: 24px;
    font-weight: 100;
    margin: 0 20px 0 20px;
}

header li {
    display: inline;
}

/* Content */
.content {
    display: flex;
}

/* Clicker */
.clicker {
    display: inline-block;
    padding: 20px;
    /* Take up 50% of the page */
    min-width: 50%;
    max-width: 50%;
    height: 100vh;
    padding-bottom: 80px;
    overflow: scroll;
}

.wood {
    width: 100%;
    margin: 20px;
    display: block;
    text-align: center;
}

#woodTitle {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0;
}

#woodButton {
    position: relative;
    width: 250px;
    height: 235px;
    left: 25%;
}


#head,
#mouth,
#log {
    width: 250px;
    position: absolute;
    left: 0;
}

#log {
    overflow: hidden;
    z-index: 2;
    top: 0;
}

#head {
    z-index: 3;
}

#mouth {
    z-index: 1;
}

#woodButton:hover {
    cursor: pointer;
}

/* #woodButton:active {
    transform: scale(108%);
} */

.button-store {
    display: inline-block;
    text-align: center;
}

.buttons {
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline: 2px solid lightgrey;
}

#axe-title, #auto-axe-title, #chainsaw-title, #auto-chainsaw-title, #flame-thrower-title, #auto-flame-thrower-title {
    margin-top: 0;
}

.button-image {
    width: 50px;
}

/* Store */
#store {
    background-color: #DC5F00;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    text-align: center;
}

.last-button, .posts {
    margin-bottom: 90px;
}

.post-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.post-image-container img {
    max-height: 140px;
    max-width: 200px;
}

.post-info-container {
    width: 100%;
    margin-top: 20px;
}

.post-title, .post-price {
    color: white;
}

.post {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#leaderboard {
    text-align: center;
    margin: auto auto;
}

.bought {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
